      <h1 class="display-4">Nuestros Servicios</h1>
      <div class="row align-items-start">
      <div class="container">
          <div class="row">
              <div class="col-8">
                  <h3>Servicios Especiales</h3>
                  <div style="padding: 1%;">
                      <div class="card mb-3">
                          <div class="row g-0">
                              <div class="col-md-4">
                                  <img src="https://www.petco.com.mx/medias/servicios-headershospital-mascotas.webp?context=bWFzdGVyfHJvb3R8MTYzOTB8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfGhjNS9oOWYvMTA0NTA2ODY4Njk1MzQvc2VydmljaW9zX2hlYWRlcnNob3NwaXRhbF9tYXNjb3Rhcy53ZWJwfDYzYTAwZDdlMzNlZjBiZDgwOGU1NjI4ZWJhNjc0MGNlMzhhOThkMzljNDZjMDRmYjdjMzgwOGQwNGQ2MjNkMzk" class="img-fluid rounded-start" alt="..." style="max-height: 200px;">
                              </div>
                              <div class="col-md-8">
                                  <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {{!-- <div class="col-4">
                  <h3>Patrocinadores</h3>
                  <img src="https://www.zarla.com/images/zarla-carevet-1x1-2400x2400-20220323-84r4txwfvmk6hc3dv4c3.png?crop=1:1,smart&width=250&dpr=2" class="rounded mx-auto d-block" alt="..." style="max-height: 200px;">
              </div> --}}
          </div>
      </div>


        {{!-- <div class="col">
          <h3>Intervenciones</h3>
          {{#each ppulidor}}
          <div style="padding: 2%;">
            <div class="card text-center" style="width: 100%; height: 70%; max-height: 300px; min-height:100px">
              <div class="card-body">
                <h5 class="card-title">{{nombrePieza}}</h5>
                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                <a href="/prellenador/edit/{{_id}}" class="btn btn-primary">Editar</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div> --}}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3>Intervenciones</h3>
                    {{!-- {{#each ptrazador}} --}}
                    <div style="padding: 1%;">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="https://sutuvet.com/wp-content/uploads/2021/12/cuidado-pre-operatorio-antecedentes-medicos.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                        {{!-- <div class="card text-center" style="width: 100%; height: 50%; max-height: 200px; min-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">{{nombrePieza}}</h5>
                                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                                <a href="/ptrazadors/edit/{{_id}}" class="btn btn-primary">Editar</a>
                            </div>
                        </div> --}}
                    </div>
                    {{!-- {{/each}} --}}
                </div>
                {{!-- <div class="col-4">
                    <h3>Patrocinadores</h3>
                </div>
            </div> --}}
        </div>
        {{!-- <div class="col">
          <h3>Alimento y Cuidado</h3>
          {{#each pvaciador}}
          <div style="padding: 2%;">
            <div class="card text-center" style="width: 100%; height: 70%; max-height: 300px; min-height:100px">
              <div class="card-body">
                <h5 class="card-title">{{nombrePieza}}</h5>
                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                <a href="/pvaciadors/edit/{{_id}}" class="btn btn-primary">Editar</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div> --}}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3>Alimento y cuidado</h3>
                    {{!-- {{#each ptrazador}} --}}
                    <div style="padding: 1%;">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="https://www.srperro.com/media/post/908a6a97-9bd6-42ce-995a-ef6620c60ee3.600x429.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                        {{!-- <div class="card text-center" style="width: 100%; height: 50%; max-height: 200px; min-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">{{nombrePieza}}</h5>
                                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                                <a href="/ptrazadors/edit/{{_id}}" class="btn btn-primary">Editar</a>
                            </div>
                        </div> --}}
                    </div>
                    {{!-- {{/each}} --}}
                </div>
                {{!-- <div class="col-4">
                    <h3>Patrocinadores</h3>
                </div> --}}
            </div>
        </div>
        {{!-- <div class="col">
          <h3>Juguetes y Camas</h3>
          {{#each prelle}}
          <div style="padding: 2%;">
            <div class="card text-center" style="width: 100%; height: 70%; max-height: 300px; min-height:100px">
              <div class="card-body">
                <h5 class="card-title">{{nombrePieza}}</h5>
                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                <a href="/prellenador/edit/{{_id}}" class="btn btn-primary">Editar</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div> --}}
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h3>Jueguetes y Estancia</h3>
                    {{!-- {{#each ptrazador}} --}}
                    <div style="padding: 1%;">
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="https://www.costco.com.mx/medias/sys_master/products/h5f/h6d/186720921452574.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                        {{!-- <div class="card text-center" style="width: 100%; height: 50%; max-height: 200px; min-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">{{nombrePieza}}</h5>
                                <p class="card-text">Pago: {{formatDecimal precioPieza}}</p>
                                <a href="/ptrazadors/edit/{{_id}}" class="btn btn-primary">Editar</a>
                            </div>
                        </div> --}}
                    </div>
                    {{!-- {{/each}} --}}
                </div>
                {{!-- <div class="col-4">
                    <h3>Patrocinadores</h3>
                </div> --}}
            </div>
        </div>
      </div>
